# STRAT - Short Tandem Repeat Analysis Tool

## 1. Parameters

In [1]:
path_ontarget = '/opt/data/workdir/bc3_1.guppy.ontarget.tsv'
path_processed = '/opt/data/workdir/bc3_1.guppy.ontarget.processed.tsv'

COLUMNS = [
    'direction',
    'id',
    'prefix_flank',
    'ins',
    'suffix_flank',
    'prefix_flank_q',
    'ins_q',
    'suffix_flank_q',
]

## 2. Imports

In [2]:
from csv import QUOTE_NONE
import numpy as np
import pandas as pd

## 3. Tryouts

In [3]:
dfo = pd.read_csv(path_ontarget, sep='\t', header=None, dtype=str, quoting=QUOTE_NONE)
dfo.columns = COLUMNS

In [5]:
len(dfo)

69287

In [6]:
dfp = pd.read_csv(path_processed, sep='\t')

In [7]:
len(dfp)

69287

In [18]:
cond = dfp['len_ins_ext_aln'] > 60
cond &= dfp['ins_ext_aln'].str.slice(0, 15) == 'CAGCAGCAGCAGCGG'
ids = set(dfp[cond]['id'])
len(ids)

539

In [19]:
cond = dfo['id'].isin(ids)
cond &= dfo['direction'] == 'fwd'
dfo[cond].groupby(['prefix_flank']).count()

,direction,id,ins,suffix_flank,prefix_flank_q,ins_q,suffix_flank_q
prefix_flank,,,,,,,
ATGATACCCC,1,1,1,1,1,1,1
ATGATCCCCC,1,1,1,1,1,1,1
CTGATCCCCC,1,1,1,1,1,1,1
GTAATCCCCA,1,1,1,1,1,1,1
GTGAATCCCC,2,2,2,2,2,2,2
GTGATACCCC,3,3,3,3,3,3,3
GTGATCCAGC,1,1,1,1,1,1,1
GTGATCCCAC,1,1,1,1,1,1,1
GTGATCCCAG,5,5,5,5,5,5,5
GTGATCCCCA,13,13,13,13,13,13,13
GTGATCCCCC,79,79,79,79,79,79,79
GTGATCCCGC,1,1,1,1,1,1,1
GTGATCCTCC,1,1,1,1,1,1,1
GTGATCGCAG,1,1,1,1,1,1,1
GTGATGCCAG,1,1,1,1,1,1,1
GTGATGCCCA,2,2,2,2,2,2,2
TAGATCCCCA,1,1,1,1,1,1,1
TCGATCCCAG,1,1,1,1,1,1,1
TCGATCCCCC,4,4,4,4,4,4,4
TGAATCCCCC,1,1,1,1,1,1,1
TGGATCCCCC,4,4,4,4,4,4,4

In [23]:
cond = dfo['id'].isin(ids)
cond &= dfo['direction'] == 'rev'
print(len)
dfo[cond].groupby(['suffix_flank']).count()['id'].reset_index().sort_values('id', ascending=False)[:10]

   suffix_flank  id
72   TGCTGGGGGG  77
19   CTGCTGGGGG  53
52   GTCTGGGGGG  36
22   CTGGGGGGAT  25
35   GCTGGGGGGA  22
30   GCTCGGGGGG  19
67   TCTGGGGGGA  12
59   TACTGGGGGG  11
78   TGTAGGGGGG  10
85   TGTTGGGGGG   8